<link rel="stylesheet" href="/css/details.css">

<body>
    <h2 id="fileName"><%= fileData.filename.slice(0, -4) %></h2>
    <a href="/deleteFile/<%= fileData.id %>" ><button id="deleteBtn"> <img src="/images/deletebtn.png" alt="trash-can" srcset=""> </button></a>
    <div id="particles-js"></div>
        <div class="main-container">
            <div class="table-container">
                <table class="table" id="tableLoad">

                </table>
            </div>
        </div>
<input type="text" id="fileID" hidden value="<%= fileData.id %>">
</body>

<script src="/js/details.js"></script>