<link rel="stylesheet" href="/css/home.css">

<div id="particles-js"></div>
<div class="main-container">
    <div class="sub-container">
        <div>
            <h2>Upload CSV</h2>
        </div>
        <div class="form-holder">
            <form action="/get_file" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <input type="file" class="form-control-file" name="uploaded_file">
                    <button type="submit">Parse this CSV !</button>
                </div>
            </form>
        </div>
        <div class="file-list">
        </div>
    </div>
</div>


<script src="/js/home.js"></script>