<link rel="stylesheet" href="/css/home.css">

<div id="particles-js"></div>
<div class="main-container">
    <div class="sub-container">
        <div class="alignMiddle">
            <h2>Upload CSV</h2>
        </div>
        <div class="form-holder alignMiddle">
            <form action="/get_file" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <input type="file" class="form-control-file" name="uploaded_file">
                    <button type="submit">Parse this CSV !</button>
                </div>
            </form>
        </div>
        <div class="file-list">
            <% for(a of filesLoaded) { %>
                <div class="fileName">
                    <a href='./getDetails/<%= a.id %>' target="_blank" rel="noopener noreferrer">
                        <%= a.filename.slice(0,-4) %>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</div>


<script src="/js/home.js"></script>