#fileName {
    background-image: linear-gradient(45deg, #7ac539, #06fff0f0);
    padding: 5px;
    position: absolute;
    top: 2vh;
    margin-left: 3px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: inset 0px 0px 3px 3px #10ff00;
}

.search_container{
    position: absolute;
    top: 3vh;
    right: 5vw;
}

#searchText{
    background: none;
    border: none;
    padding: 5px;
    border-bottom: 3px solid #dc1212;
    box-shadow: -3px 9px 10px -8px #ff740ede;
    color: rgb(242, 241, 241);
    margin-right: 5px;
    outline: none;
    font-family: cursive;
}

#searchText::placeholder{
    color: rgb(192, 192, 188);
    opacity: 0.8;
}

#searchBtn{
    background: #794783;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #ffc0cb00;
    cursor: pointer;
}

#searchBtn:hover{
    border:2px solid rgb(255, 192, 203);
}

#deleteBtn {
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    width: 6vh;
    right: 2px;
    top: 2vh;
}

#deleteBtn img {
    width: 100%;
}

#particles-js {
    width: 100%;
    height: 85vh;
    background-color: #0000007a;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10vh;
}

.main-container {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    width: 90vw;
    height: 80vh;
    padding: 10px;
    background-color: #2423234f;
    border-radius: 10px;
    overflow-y: auto;
    z-index: 1;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 12px 15px;
    border: 1px solid #dddddd8c;
    text-align: center;
    font-size: 16px;
}

.table tr {
    color: #ffffffd6;
    background-color: #648bb863;
}

.table tr td:hover {
    background-color: #648bb8c9;
}

.table th {
    position: sticky;
    top: 0vh;
    background-color: #4a416f;
    color: #f2f2f2;
    box-shadow: inset 0px 0px 16px 5px black;
}

.sortButtons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sortAsc{
    cursor: pointer;
    width: 2rem;
}

.sortDec{
    cursor: pointer;
    width: 2rem;
}

.reach_out {
    display: flex;
    background-color: #3a3a3a75;
    width: 100%;
    height: 5vh;
    left: 0;
    padding: 6px;
    bottom: 0px;
    justify-content: space-around;
}

@media(max-width: 500px) {
    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

.page_navigation {
    display: flex;
    width: 15vw;
    height: 4vh;
    position: absolute;
    bottom: 4px;
    left: 45%;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.page_navigation div {
    cursor: pointer;
    border: 2px solid #2d6246;
    padding: 5px;
    background-image: linear-gradient(0deg, #e9ff08, #09ddcd);
    border-radius: 7px;
    transition: all 0.5s;    
}

.page_navigation div:hover {
    border: 2px solid #545bd0;
    background-image: linear-gradient(180deg, #e9ff08, #09ddcd);
    transition: all 0.5s;  
}

#page_no {
    position: absolute;
    z-index: 1;
    right: 5vw;
    bottom: 1vh;
    font-family: cursive;
    color: #fbfbfb;
    text-shadow: 0px 0px 5px #161616;
}